body{
	margin: 0;
	outline: 0;
	width: 100%;
	height: 100%;
}
#body{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center;
	background-size: auto 100%;
}

.swiper-container{
	float: left;
	width: 100%;
	height: calc(100% - 90px);
	background: transparent;
}
.swiper-wrapper{
	background: transparent;
}
.swiper-slide{
	float: left;
	text-align: center;
	font-size: 18px;
	background: #fff;
	background: transparent;
}
.full{
	float: left;
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullet{
	background: rgba(255, 255, 255, .35);
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background: #FFF;
}
.bottom-bar{
	float: left;
	height: 90px;
	width: 100%;
	background: rgba(77, 128, 127, .65);
}
.bottom-bar .app{
	float: left;
	width: calc(25% - 20px);
	height: 80px;
	margin: 0 10px;
	margin-top: 5px;
	font-family: sans-serif;
}
.bottom-bar .app .img{
	float: left;
	width: 100%;
	height: 70%;
}
.bottom-bar .app span{
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: 5px;
	font-size: 13px;
}
.swiper-slide .app{
	float: left;
	width: 25%;
	margin: 5px 0;
}
.swiper-slide .app .img{
	float: left;
	width: 50%;
	height: 50%;
	margin-left: 25%;
}
.swiper-slide .app span{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	color: #fff;
	font-family: sans-serif;
	font-size: 15px;	
}